body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    text-align: center;
}

/* Контейнер для графика и конфигурации */
.main-container {
    display: grid;
    grid-template-columns: 1fr;  /* Один столбец */
    grid-template-rows: auto 1fr;  /* Две строки: первая для графика, вторая для конфигурации */
    align-items: center; /* Выровнять по вертикали */
    justify-items: center; /* Центрировать по горизонтали */
    width: 80%; /* Общая ширина контейнера */
}

#graph {
    grid-row: 1; /* График будет в первой строке */
    margin-left: auto;
    margin-right: auto;
}

.form-config-container {
    display: grid;  /* Устанавливаем сетку для контейнера конфигурации */
    grid-template-columns: 1fr 1fr;  /* Два столбца: один для формы, другой для конфигурации */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column; /* Разместить элементы по вертикали */
    justify-content: center; /* Выровнять по вертикали в центре */
    align-items: stretch; /* Выравнивание по левому краю */
    padding: 20px; /* Добавим отступы */

}

.config-container {
    display: flex;
    align-self: stretch;
    flex-direction: column; /* Разместить элементы по вертикали */
    justify-content: flex-start; /* Выровнять по верхнему краю контейнера */
    align-items: flex-start; /* Выравнивание по левому краю */
    padding-left: 20px;
}
#config-list {
    align-self: flex-start; /* Позволяет ul быть на верхнем краю контейнера */
}
#config-list li {
    margin-top: 0;  /* Убираем отступ */
    padding-top: 0; /* Убираем внутренний отступ, если он есть */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Стили для формы */
form label, form input, form button {
    display: block;
    margin-bottom: 10px;
}

#responseMessage {
    margin-top: 20px;
    color: green;
}